.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;

}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    box-shadow: #32325d40 0px 13px 27px -5px, rgba(0, 0, 0, 0.8) 0px 8px 16px -8px;
    border-radius: 10px;

}
#gallery-1{
    width: 22.4%;
}
/* -------media query------ */
@media(max-width:800px ){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;
    }
    #gallery-1{
        width: 47%;
    }
}